.feijao__box {
    background: rgb(255,188,66);
    background: linear-gradient(90deg, rgba(255,188,66,1) 0%, rgba(23,128,122,1) 50%, rgba(255,255,255,1) 100%);
    padding: 3rem 0rem;
}

.feijao__titulo {
    font-family: $fonte-titulo;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-decoration: underline;
    color: #fff;
}

.feijao__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.feijao__item {
    @include card-config;
    height: 400px;

    &:hover .feijao__preco {
        box-shadow: 7px 7px 0px 0px $cor-section1;
    }
    
}

.feijao__img {
    width: 180px;
}

.feijao__desc {
    font-family: $fonte-corpo;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.feijao__peso {
    font-family: $fonte-corpo;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.feijao__preco {
    @include card-preco;
    background-color: $cor-botoes;
    color: #fff;
    font-size: 1.6rem;
    max-width: 140px;
    border: 2px solid #fff;
    margin: 0 auto;
}